<table class="table">
	<thead>
		<tr>
			<th>Id</th>
			<th>Name</th>
			<th>Url</th>
			<th>State</th>
			<th>channel number</th>
			<th>position number</th>
			<th>Modified User</th>
			<th>Modified Time</th>
			<th>Operation</th>
		</tr>
	</thead>
	<tbody>
	<% @m_ordinary_publishers.each do |publisher| %>
		<tr>
			<td><%= publisher.id %></td>
			<td><%= link_to publisher.name, { controller: "m_ordinary_channels", action: :index, publisher_id: publisher.id } %></td>
			<td><%= publisher.url %></td>
			<td><%= MState.find_by(id: publisher.state_id).name %></td>
			<td><%= MOrdinaryChannel.find(:all, conditions: ['m_ordinary_publisher_id = ?', publisher.id]).size %></td>
			<td><%= MOrdinaryPosition.find(:all, conditions: ['m_ordinary_publisher_id = ?', publisher.id]).size %></td>
			<td><%= User.find_by(id: publisher.modified_user_id).name %></td>
			<td><%= publisher.updated_at %></td>
			<td><%= link_to "Update", edit_m_ordinary_publisher_path(publisher) %> 
					| 
					<%= link_to "Delete", { controller: "m_ordinary_publishers", action: :destroy, id: publisher.id },
																{ confirm: "Are you sure?", method: :delete } %>
			</td>
		</tr>
	<% end %>
	</tbody>
</table>
