<% provide(:title, 'Edit Publisher') %>
<h1>Edit publisher</h1>
	<%= form_for(@publisher) do |f| %>
		<%= render 'shared/error_messages' %>

		<%= f.label :name %>
		<%= f.text_field :name %>

		<%= f.label :url %>
		<%= f.text_field :url %>
	
		<%= f.label :state %>	
		<%= f.select :state_id, options_for_select(MState.all.collect { |state| state.name })  %>	

		<%= f.submit "Save changes", class: "btn btn-large btn-primary" %>
	<% end %>
