<% provide(:title, 'ordinary channels') %>
<h1>Ordinary Channels</h1>

<%#= select_tag :itemNum, options_from_collection_for_select(ItemNum.all, 'id', 'num'), include_blank: false, style: "width:70px" , onchange: "if(this.value){window.location='?num='+this.value;}"%>
<%= select_tag :per_page, options_for_select(PerPage.all.collect { |items| items.per_page }, @per_page.to_i), onchange: "if(this.value){window.location='?per_page='+this.value+'&publisher_id='+gon.publisher_id;}", style: "width: 70px" %>
<%#= select_tag :search_type, options_for_select(['id', 'name']), :onchange => "if(this.value){window.location='?search_type='+this.value;}", style: "width: 70px" %>
<%#= select "ItemNum", "num", ItemNum.all.collect { |item| [item.num, item.id] },  include_blank: false %>
<%= form_tag m_ordinary_channels_path, method: :get do %>
	<p>
		<%= select_tag :search_type, options_for_select(['id', 'name']) %>
		<%= text_field_tag :search, params[:search] %>
		<%= hidden_field_tag :publisher_id, params[:publisher_id] %>
		<%= submit_tag "Search", name: nil %>
	</p>
<% end %>
<%= link_to "Create channel", { controller: "m_ordinary_channels", action: :new , publisher_id: params[:publisher_id]} %>
<%= will_paginate %>
<%= render 'channels' %>
<%= will_paginate %>


